@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

app>.main {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sort-buttons {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.ideas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.ideas>li {
    background-color: yellow;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    flex-basis: 45%;
    padding: 1rem;
    margin: 1rem;
}

.ideas>li>header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.ideas>li>footer {
    border-top: 1px solid lightgray;
    font-size: 0.75rem;
}

.ideas>li>header>button {
    color: red;
    font-size: 1.1rem;
}

main {
    width: 100%;
}

.btn {
    text-transform: uppercase;
    font-size: 0.75rem;
}

ul {
    list-style: none;
}