@page "/"
@using Models
@inject HttpClient client

<main>
  <AddIdea NewIdea="@NewIdea" AddNewIdea="@AddNewIdea"/>
  <hr />
  <IdeaList Ideas="@Ideas" DeleteIdea="@DeleteIdea"/>
</main>


@code{
  private Idea NewIdea = new Idea();
  private List<Idea> Ideas { get; set; } = new List<Idea>();
  private readonly string API_URL = "https://sdg-idea-o-rama.herokuapp.com/api/Idea";

  protected override async Task OnInitAsync(){
    Ideas = await client.GetJsonAsync<List<Idea>>(API_URL);
  }

  private async void DeleteIdea(Idea idea)
  {
    Ideas.Remove(idea);
    await client.DeleteAsync($"{API_URL}/{idea.Id}");
    StateHasChanged();
    
  }

  private async void AddNewIdea()
  {
    NewIdea = await client.PostJsonAsync<Idea>(API_URL, NewIdea);
    Ideas.Add(NewIdea);
    NewIdea = new Idea();
    StateHasChanged();
  }

 

    
}