@inherits LayoutComponentBase

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Ideas that I will totally get to some day</span>
</nav>
<div class="main">
  
        @Body

</div>
